*{
   padding: 0;
   margin: 0;
}

@font-face {
    font-family: 'NeoSansPro-Regular';
    src: url("../fonts/NeoSansPro-Regular.woff"); }
  
  @font-face {
    font-family: 'MyriadPro-Regular';
    src: url("../fonts/MyriadPro-Regular.woff"); }
  
  @font-face {
    font-family: 'NeoSansPro-Medium';
    src: url("../fonts/NeoSansPro-Medium.woff"); }

    @font-face {
        font-family: 'NeoSansPro-Bold';
        src: url("../fonts/NeoSansPro-Bold.woff"); }
    

    .main-wrapper-page{
        display: flex;
        justify-content:center;
    }


.navigations-link-block{
    margin-top:1.8rem;
    display: flex;
    align-items:center;

       

                a{
                    margin-right:0.5rem;
                    margin-left:0.5rem;
                    font-size: 0.9rem;
                    color:#939ca2;
                    font-family: 'MyriadPro-Regular';

                        &:hover{
                            text-decoration: none;
                        }
                }

}

main{
    max-width:960px;
    h1{
            padding-top:1.8rem;
            padding-bottom:1.8rem;
        font-family: 'NeoSansPro-Medium';
        font-size:1.5rem ;
    }
}



.customize-header{
    align-items:center;
    display: flex;
    justify-content: space-between;
    height: 4vh;
    border:2px solid #e5f0fb;
    background-color: #eef8ff;
    border-radius:15px;



}
.circle-wrapper{
    margin-left:1rem;
    align-items:center;
    display: flex;


        
        span{
            font-family: 'NeoSansPro-Regular';
            font-size: 0.9rem;

        }
}
.cirle{
    margin-left:0.5rem;
    cursor:pointer;
    min-width:20px;
    width:20px;
    height: 20px;
    background-color: red;
    border-radius:50%;
    transition: 0.5s ease-out;

    &:hover{
        transition: 0.5s ease-in;
        border:3px solid red;
        
       

    }
}

.cirle:nth-child(3){
    background-color: #3b3b3b;

}
.cirle:nth-child(4){
    background-color: #e3c400;
    
}
.cirle:nth-child(5){
    background-color: #fff;
    
}
.cirle:nth-child(6){
    background-color: #76e300;
    
}
.cirle:nth-child(7){
    background-color: #e300a0;
    
}
.cirle:nth-child(8){
    background-color: #e37000;
    
}
.info-wrapper-sort{
    margin-right:1rem;


        span{
            font-family: 'NeoSansPro-Regular';
            font-size: 0.9rem;

        }

}

.wrapper-card{
    max-width:960px;
    margin-top:1.2rem;
    flex-wrap: wrap;
    display:flex;

}
.card-item{
    // padding: 15px;
    // flex-basis: 19.5%;
    width:19.5%;
    border-radius:10px;
    border:2px solid #dae3eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;



                img{
                    margin-top:0.5rem;
                }


            p{
                margin-bottom:0.6rem;
                font-size: 0.8rem;
                font-family: 'NeoSansPro-Regular';
                margin-top:2rem;
                text-align: center;
            }

            label{
                font-size: 12px;
                font-family: 'NeoSansPro-Regular';
            }
            a{
                color:#30a7d4;
                margin-top:0.5rem;
                text-align: center;
                font-size: 14px;
                font-family: 'NeoSansPro-Regular';


                &:hover{
                    text-decoration:none;
                }




            }
}


.color-red{
    color:red;
}
.color-gray{
    color:#aaaaaa;
}
.sort-click{
    border-bottom:2px dashed red;
    cursor: pointer;

        &:hover{
            border:none;
        }


}

.check-block{
    display: flex;
    align-items:center;

        label{
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
             -khtml-user-select: none; /* Konqueror HTML */
               -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Non-prefixed version, currently
                                          supported by Chrome and Opera */
            cursor:pointer;
            font-family: 'NeoSansPro-Regular';
            font-size: 0.9rem;

        }

            // input{
            //     margin-right:0.5rem;
            //     margin-left:0.5rem;
            //     width:18px;
            //     height: 18px;
            //     background-color: #d7e2ea;


                
            // }

            
                
                

        

}
.checkbox{
    margin-left:0.3rem;
    margin-right:0.3rem;


    input[type=checkbox], input[type=radio] {display: none;}

    input[type=checkbox] + label:before {
        cursor:pointer;
        content: "\2713";
        color: transparent;
        display: inline-block;
        border: 1px solid #bdcbd5;
        font-size: 14px;    
        line-height: 15px;
        margin: -5px 5px 0 0;
        height: 16px;
        width: 16px;
        text-align: center;
        vertical-align: middle;
        transition: color ease .3s;
        border-radius:5px;
        background-color:#d7e2ea;
    }
    
    input[type=checkbox]:checked + label:before {
      background: red;
        color: #fff;
    }
    
   
    
}







.count-items{
    margin-bottom:0.5rem;
    position:relative;
    padding: 0.1rem 0.2rem 0.1rem;
    align-items:center;
    border-radius: 20px;
    background-color: #eef8ff;
    display:flex;
}
.count-items input{
    text-align: center;
    border:1px solid #cbcbcc;
    outline: none;
    border-radius:20px;
    width:60px;
    height: 30px;
}
.wrapper-tick-buttons{
    display:flex;
    flex-direction:column;
}
.button-plus{
    bottom:4px;
    position: relative;
    left:6px;
    cursor: pointer;
    border:none;
    background-color: transparent;
    font-family: 'NeoSansPro-Medium';
    color:black;
    width:16px;
    height: 16px;
  

}
.button-minus{
    top:10px;
    position:relative;
    right:10px;
    cursor: pointer;
    border:none;
    background-color: transparent;
    font-family: 'NeoSansPro-Medium';
    color:black;
    width:16px;
    height: 16px;
 

}
.busket-button{
    cursor:pointer;
    outline: none;
    border:none;
    min-width:40px;
    height: 40px;
    background-color: #f73d3c;
    border-radius: 50%;
}
.fa-shopping-cart{
    font-size: 1rem;
    color:#fff;
}
.price{
    font-size: 1.1rem;
    font-family: 'NeoSansPro-Bold';
}
.stoke-price{
    display: inline-block;
    position:relative;
    color:#aaaaaa;


            &::after{
                content:"";
                display:block;
                position:absolute;
                left:0;top:50%;
                width:100%;
                color:red;
                height:0;
                border-bottom:2px solid red;
                transform:rotate(-10deg);
            }
}



input[type=radio]:checked + label:before {
    color:#fff;
    width:23px;
    height: 23px;
    border: 2px solid red;
}


 input[type=checkbox], input[type=radio],input[type = radio1] {display: none;}


input[id=radio1] + label:before {


    content: "\26AB";
    background-color: #e30013;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;    
    line-height: 19px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 0;    
    transition: font-size ease .3s;



            
}

input[id=radio2] + label:before {


    content: "\26AB";
    background-color: #3b3b3b;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;    
    line-height: 19px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 0;    
    transition: font-size ease .3s;



            
}
input[id=radio3] + label:before {


    content: "\26AB";
    background-color: #e3c400;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;    
    line-height: 19px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 0;    
    transition: font-size ease .3s;



            
}
input[id=radio4] + label:before {


    content: "\26AB";
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;    
    line-height: 19px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 0;    
    transition: font-size ease .3s;



            
}



input[id=radio5] + label:before {


    content: "\26AB";
    background-color: #76e300;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;    
    line-height: 19px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 0;    
    transition: font-size ease .3s;



            
}


input[id=radio6] + label:before {


    content: "\26AB";
    background-color: #e300a0;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;    
    line-height: 19px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 0;    
    transition: font-size ease .3s;



            
}




input[id=radio7] + label:before {


    content: "\26AB";
    background-color: #e37000;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;    
    line-height: 19px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 0;    
    transition: font-size ease .3s;



            
}

.container-radio{
    margin-left:0.5rem;
    display:flex;
}

.wrapper-footer{
    margin-top:30px;
    align-items:center;
    justify-content: space-between;
    display:flex;
    height: 4vh;
    border:2px solid #e5f0fb;
    background-color: #eef8ff;
    border-radius:15px;

            a{
                font-size: 0.9rem;
                font-family: 'NeoSansPro-Regular';
                color:#848b8f;

                &:hover{
                    text-decoration: none;
                }
            }
            i{
                color:#848b8f;
            }
}


.paganation-block{

        a{
            display:inline-block;
            padding:0.5rem;

                &:hover{
                    text-decoration: none;
                }
                &:hover:not(.active) {background-color: #ddd;
                }
        }
        a.active{
            color:#fff;
                background-color: #4CAF50;
    
            
        }

}
.prev-page{
    margin-left:1rem;
    display:flex;
    align-items:center;


                    a{
                        padding:0.4rem;

                        
                    }
                    

           
}
.next-page{
    margin-right:1rem;
    display:flex;
    align-items:center;


                    a{
                        padding:0.4rem;

                        
                    }

}

.palochka{
    height: 20px;
    width:10px;
    border-right:2px solid #c2d1dc;
}
.zero-height{
    height: 133px;

        
}