@media (min-width: 768px) and (max-width: 991.98px) {
    .card-item{
     
        flex-basis: 32.7%;
    }
    .wrapper-card{
    }
    main{
        width:100%;
    }
    .palochka{
        display: none;
    }
}



@media (min-width: 576px) and (max-width: 768px) {

    .wrapper-card{
        max-width:768px;
        min-width:576px;
    }

    .customize-header{
        margin:0.3rem;
        padding:0.5rem;
        height: 8vh;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-item{
    //  width:30%;
        flex-basis: 32.4%;
    }
    .wrapper-card{
        padding:0.3rem;
    }
    main{
        width:100%;
    }
    main{
        h1{
            margin-left:0.3rem;
        }
    }
    .navigations-link-block{
        margin-left:0.3rem;
        margin-top:0.5rem;
    }
    .palochka{
        display: none;
    }

    


}


@media (min-width: 320px) and (max-width: 576px) {


    main{
        h1{
            margin-left:0.3rem;
        }
    }

    .navigations-link-block{
        margin-left:0.3rem;
        margin-top:0.5rem;

                a{
                    padding:0.2rem;
                    margin:0;
                    font-size: 0.8rem;
                }
    }

    .customize-header{
        margin:0.3rem;
        padding:0.5rem;
        height: 8vh;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-item{
        flex-basis: 100%;
    }
    .wrapper-card{
        padding:0.3rem;
    }
    main{
        width:100%;
    }

   .checkbox{
                label{
                    font-size: 0.7rem;

                }
                   
    

   }
   .palochka{
    display: none;
}
.prev-page{
    margin-left:0.3rem;

}
.next-page{
    margin-right:0.3rem;

}
    
            

}